* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: #023373;
}


body{ 
  margin: 0%;
  margin-bottom: 60px;
  padding: 0%;
  background-color: rgb(244, 242, 242);
}

html{
  min-width: 100%;

}

