* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

}


body{ 
  margin: 0%;
  margin-bottom: 60px;
  padding: 0%;
  background-color: rgb(244, 242, 242);
  position: relative;
  
}

html{
  min-width: 100%;

}



